.dropdown_container {
    display: block;
    position: relative;
    top: 0;
    margin-left: 10px;
    /* z-index: 999; */
}
.dropdown-list-container {
    position: relative;
    margin-top: 8px;
    display: flex;
    background-color: rgb(158, 179, 197);
}
.avatar-dropdown {
    display: block;
    position: relative;
    top: 0;
}
.avatarhere {
    margin-left: 10px;
    margin-top: 7px;
    border: 3px solid rgb(196, 119, 18);
    border-radius: 50%;
    background-color: white;
}

.dropdown-list {
    position: absolute;
}
.dropdown-list li {
    padding: 5px;
}

.dropdown-list li button {
    font-size: 13px;
}
