.announce_container {
    position: absolute;
    top: 50px;
    right: 10px;
    height: fit-content;
    width: 400px;
    background-color: rgb(250, 250, 240);
    z-index: 999;
    border: 1px solid rgb(207, 212, 212);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul > li {
    list-style: none;
}

.announce_container ul li {
    display: flex;
    padding: 5px;
}

.announce_container ul li .content {
    width: 350px;
    margin: 5px 10px;
}

.announce_container ul li .action {
    display: flex;
}

.announce_container ul li .action button {
    margin-left: 2px;
    margin-top: 3px;
    border-radius: 50%;
    padding: 5px;
    height: fit-content;
}
.announce_container ul li .action .refuse:hover {
    cursor: pointer;
    background-color: red;
}

.announce_container ul li .action .accept {
    background-color: greenyellow;
    margin-right: 3px;
}

.announce_container ul li .action .accept:hover {
    cursor: pointer;
    background-color: rgb(43, 215, 31);
}

.announce_container ul li .action .refuse {
    background-color: orange;
}

.no-invite {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.no-invite p {
    font-size: 24px;
}

.announce_container .avatar {
    padding: 5px 15px;
    border: 2px solid turquoise;
    border-radius: 50%;
    background-color: white;
}

.announce_container .avatar p {
    color: rgba(38, 24, 197, 0.798);
    font-weight: 800;
    margin-top: 7px;
    font-size: 20px;
}

.announce_container .content {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
