.container{
  margin-left: 25px;
  margin-top: 30px;
  margin-right: 25px;
}
.sidebar_container .icon{
  width: 16px;
  height: 16px;
}
.container .item{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 5px;
}
.container .item .div_title{
  margin-left: 24px;
  
}
.container .menu{
  margin-bottom: 40px;
  padding-left: 5px;
}
.item:hover{
  background-color: rgb(145, 236, 235);
  cursor: pointer;
}
.container .menu img:hover{
  cursor: pointer;
}
Span{
  text-decoration: none;
  color: black;
  
}
a{
  text-decoration: none;
}
#div_title_project{
  display: flex;

}
.add_or_show{
  margin-left: auto;
  display: flex;
  display: none;
}
.add_or_show .icon_show_project{
  margin-left: 20px;
}
.add_or_show button{
  background-color: transparent;
  
}
.icon_show_project button{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_show_project{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_item .circle_project img{
  width: 10px;
  height: 10px;
}
.project_item{
  display: flex;
  
}
.list_of_project{
  margin-left: 40px;
}
.project_item .name_project{
  margin-left: 20px;
}
.sidebar_container{
  background-color: rgb(210, 242, 203);
}
.project_head:hover .add_or_show{
  display: flex;
}