.project_container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 40px;
 
}
.project_screen{
  margin: 40px;
}
.project_container .project_item{
  border: 1px solid rgb(175, 172, 172);
  border-radius: 20px;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
  
}
.check_box_project{
  margin-top: 15px;
  margin-left: 15px;
}
.project_infor{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.project_infor .project_description p{
  color: rgb(138, 138, 134);
  font-size: 14px;
}
.project_infor .date_project p{
  font-size: 14px;
  color: red;
}
.project_title{
  margin-bottom: 50px;

}
.project_title h3{
  color: rgb(255, 7, 7);
}
.project_header{
  display: flex;
  justify-content: space-between;
}

.project_header .add_task_project button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  background-color: rgb(253, 38, 38);
  color: rgb(246, 238, 238);
}
.project_header .invite_to_project button{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_header .invite_to_project button span{
  margin-left: 5px;
  color: rgb(116, 111, 111);
  font-weight: 300;
  font-size: 15px;
}
.project_add_task{
  background-color: rgb(241, 236, 148);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: solid 1px rgb(200, 195, 195);
  margin-left: 140px;
  margin-right: 140px;
}
.project_add_task .project_add_task_header input{
  border: none;
  outline: none;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.project_add_task .input_task_name input{
  padding-top: 8px;
  padding-bottom: 6px;
}
.project_add_task_footer{
  display: flex;
  justify-content: right;
}
.project_add_task_footer button{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.div_cancel_add_task button{
  background-color: rgb(133, 208, 99);
  color: red;
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
}
.div_add_task button{
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}
.project_add_task_header{
  display: flex;
  justify-content: space-between;
}
.project_header_right{
  margin-right: 250px;
}
.project_add_task_header .input_task_name{
  margin-top: 1px;
 
}
.project_select_people{
  margin-top: 8px;
  
}
select{
  margin-top: 2px;
  width: 218px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(38, 37, 37);
  outline: none;
  border: none;
  height: 30px;
  font-size: 16px;
  color: rgb(136, 133, 133);
}
.project_header_left input{
  width: 200px;
  border-radius: 6px;
  padding-left: 5px;
}
.project_add_task_footer button:hover{
  cursor: pointer;
}
input:hover{
  cursor: pointer;
}
select:hover{
  cursor: pointer;
}
.project_item:hover{
  cursor: pointer;
  background-color: rgba(248, 247, 247, 0.675);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.selected_task{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 850px;
  height: 650px;
 
  border-radius: 30px;
}
.shadown{
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với mức độ trong suốt 0.5 */
  z-index: 9999;
  width: max-content;
  height: max-content;
}
#home_page_container{
  background-color: red;
}
.select_task_header{
  display: flex;
  justify-content: right;
  column-gap: 20px;
}
.select_task_header div{
  cursor: pointer;
}
.all_select_task{
  margin: 20px;
}
.select_task_header img{
  width: 18px;
  height: 18px;
}
.select_task_content{
  display: grid;
  grid-template-columns: 2.5fr 1fr;

}
.task_checkbox_project{
  border-radius: 100px;
}
.checkBoxAndName_des{
  display: flex;
  flex-direction: row;
}

.select_task_content{
  margin-top: 10px;
}
.name_description_task{
  margin-left: 25px;
}
.name_description_task .nameOfTask p{
  font-size: 18px;
  font-weight: 500;
}
.name_description_task .descriptionOfTask{
  font-size: 14px;
}
.all_select_task{
  height: 100%;
}
.select_task_content{
  height: 91.6%;
}

.comment_task{
  margin-left: 50px;
 
  margin-top: 40px;
  
}
.form_comment input{
  width: 400px;
  padding-left: 20px;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 5px;
  border: solid 1px rgb(174, 171, 171);

}
.comment_task .logo_user{
  align-items: center;
  display: flex;
}
.form_comment input:focus{
  border: solid 1px rgb(148, 145, 145);
  outline: none;
}
.comment_task .logo_user img{
  border-radius: 100px;
}
.comment_task .input_comment{
  display: flex;
  column-gap: 40px;
 
  align-items: center;
}
.cover_screen{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.select_task_right{
  background-color: rgb(246, 246, 245);
  height: 100%;
}
.Label_project, .due_date_task, .member_assigned{
  margin-left: 15px;

}
.checkBoxAndName_des, .Label_project{
  margin-top: 10px;
}
.selected_task_titelProject,.abcde, .member_titel {
  font-size: 14px;
  color: rgb(150, 146, 146);
  font-weight: 400;
}
.selected_task_nameProject{
  display: flex;
  margin-top: 15px;
  font-size: 15px;
  column-gap: 15px;
}
.selected_task_nameProject img{
  width: 12px;
  height: 12px;
  
}
.Label_project{
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(202, 197, 197);
}
.due_date_task ,.member_assigned{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(202, 197, 197);
}
.abcde{
  padding-bottom: 10px;
}
.calendar_task{
  display: flex;
  column-gap: 15px;
  font-size: 14px; 
}

