#navbar_container {
    height: 50px;
    background-color: #3076ef;
    position: fixed;
    z-index: 10;
    width: 100vw;
}

.navbar_item {
    background-color: #3076ef;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
.navbar_item:hover {
    background-color: #91addf;
}

.navbar_left,
.navbar_middle,
.navbar_right {
    display: inline-block;
}
.navbar_left {
    margin-left: 10px;
    margin-right: 0;
    width: 40%;
}

.navbar_middle p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: rgb(73, 55, 57);
    margin-left: 1rem;
}

@media (max-width : 900px) {
    .navbar_middle p {
      display: none;
    }
    .navbar_left{
        margin-top: 1rem;
    }
  }

.navbar_right {
    margin-right: 3%;
    height: 100%;
    float: right;
}

.announce_container {
    position: absolute;
    top: 50px;
    height: fit-content;
    width: 400px;
    background-color: rgb(145, 169, 189);
    border-radius: 5px;
}

.navbar_right {
    margin-right: 5%;
    height: 100%;
    float: right;
}

.navbar_item:hover {
    cursor: pointer;
}

.signin_btn {
    margin-left: 5px;
}

.avatar-dropdown {
}

.avatarhere {
    padding: 6px 10px;
}
.avatarhere p {
    color: #3498db;
    font-weight: 900;
}

#button-login{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 16px;
    color: white;
    font-weight: 900;
    background: -webkit-linear-gradient(left, #977d42, #b09556, #d7b974, #f7d687);
}

#button-login:hover{
    cursor: pointer;
}