#navbar_container {
    height: 50px;
    background-color: #3076ef;
    min-width: 700px;
}

.navbar_item {
    background-color: #3076ef;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
.navbar_item:hover {
    background-color: #91addf;
}

.navbar_left,
.navbar_middle,
.navbar_right {
    display: inline-block;
}
.navbar_left {
    margin-left: 10px;
    margin-right: 0;
    width: 40%;
}

.navbar_middle p{
    font-size: 1.5rem;
    margin-top: 13px;
    color :rgb(73, 55, 57);
    margin-left: 1rem;
}

@media (max-width : 900px) {
    .navbar_middle p {
      display: none;
    }
    .navbar_left{
        margin-top: 1rem;
    }
  }

.navbar_right {
    margin-right: 3%;
    height: 100%;
    float: right;
}

.navbar_item:hover {
    cursor: pointer;
}

.announce_container {
    position: absolute;
    top: 50px;
    height: fit-content;
    width: 400px;
    background-color: rgb(145, 169, 189);
    border-radius: 5px;
}

ul > li {
    list-style: none;
}

.announce_container ul li {
    display: flex;
    padding: 5px;
    border-bottom: 2px solid white;
}

.announce_container ul li .avatar img {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.announce_container ul li .content {
    width: 350px;
    margin: 5px 10px;
}

.announce_container ul li .action {
    display: flex;
}

.announce_container ul li .action button {
    margin-left: 2px;
    margin-top: 1vh;
    border-radius: 50%;
    padding: 5px;
    height: fit-content;
}
.announce_container ul li .action button:hover {
    cursor: pointer;
    background-color: red;
}

.announce_container ul li .action .accept {
    background-color: greenyellow;
}

.announce_container ul li .action .refuse {
    background-color: orange;
}

.no-invite {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.no-invite p {
    font-size: 24px;
}

.signin_btn {
    margin-left: 5px;
}

.avatar-dropdown {
    margin-bottom: 5px;
    margin-right: 30px;
}

.avatarhere{
    padding: 6px 10px;
}
.avatarhere p {
    color: #3498db;
    font-weight: 900;
}