#navbar_container {
    height: 50px;
    background-color: #3076ef;
    position: fixed;
    z-index: 10;
    width: 100vw;
    /* display: flex;
    flex-direction: row; */
    /* position: relative;
    display: inline-block;
    z-index: 999;
    width: 100%;
    top: 0px; */
}

.navbar_item {
    background-color: #3076ef;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
.navbar_item:hover {
    background-color: #91addf;
}

.navbar_left,
.navbar_middle,
.navbar_right {
    display: inline-block;
}
.navbar_left {
    margin-left: 10px;
    margin-right: 0;
    width: 40%;
}

.navbar_middle p {
    font-size: 1.5rem;
    margin-top: 13px;
    color: rgb(73, 55, 57);
    margin-left: 3rem;
}

.navbar_right {
    /* flex-basis: 45%; */
    margin-right: 5%;
    height: 100%;
    float: right;
    /* justify-content: right; */
}

.navbar_item:hover {
    cursor: pointer;
}

.signin_btn {
    margin-left: 5px;
}

.avatar-dropdown {
}

.avatarhere {
    padding: 6px 10px;
}
.avatarhere p {
    color: #3498db;
    font-weight: 900;
}
